h1{
color: #84482d;
text-align: center;
}

.Titulo{
background-color:antiquewhite;
border-radius: 10px;
height: 50px;
width: 400px;
margin: auto;
border-left: 3px solid #84482d;
border-bottom: 3px solid #84482d;
}

p{
    font-size: 18px;
    color: #1c1d1f;
    line-height: 1.5em;
    border-bottom: 1px solid #84482d;
    box-shadow: 0 0 1px black;
}

.contenedor{
display: flex;
justify-content: space-around;
border: 2px solid #be6841;
padding: 20px;
box-shadow: 0 0 2px black;
}

.imagen{
width: 150px;
margin: 10px;
box-shadow: 0 0 30px black;
border-radius: 30px;
}